*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(
        rgba(209, 205, 209, 0.3) 0%,
        rgba(230, 245, 248, 0.6) 100%
    );
}

h1{
    flex-grow: 1;
}

nav {
    display: flex;
    justify-content: right;
}

nav a {
    color: #00060b;
    padding: 14px 20px;
    text-decoration: none;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/vertical.jpg");
    background-size: cover;
    background-position: center;
}

.box-info > header {
    border-right: solid rgb(140, 67, 213) 10px;
    width: 15vw;
    min-width: 15vw;
}

.box-info {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.box-info .content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
}

#work .content {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

#work figure {
    position: relative;
}

#work figure figcaption {
    position: absolute;
}

.content .first-project {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.content .first-project figure, 
.content .other-projects figure  {
    flex-grow: 1;
    display: flex;
}

.content .first-project figure img,
.content .other-projects figure img {
    flex-grow: 1;
}

.content .other-projects {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}

#about-me .content img {
    width: 10vw;
}

footer .box-info .content a {
    flex-grow: 1;
    text-align: center;
} 

/* @media screen and (max-width: 992px) {
    
    img {
        width: 50%;
    }
}

@media screen and (min-width: 993px) {
    img {
        width: 25%;
    }
}
@media screen and (max-width: 768px) {
    img {
        width: 100%;
    }
} */
